.searchContainer {
	padding: 0.2rem;
	border-radius: 1rem;
	border: 1px solid var(--white);
	outline: 2px solid #00000000;
	transition: all 0.2s;
}

.form {
	display: flex;
}

.searchContainer:focus-within {
	outline: 2px solid var(--highlight);
	border: 1px solid #00000000;
}

.inputField {
	padding: 1rem;
	font-size: 1.4rem;
	border: none;
	background-color: #00000000;
	color: var(--white);
}

.inputField:focus {
	outline: none;
}

.searchIcon {
	padding: 1rem;
}
