.navbar {
	background-color: var(--dark);
	color: var(--highlight);
	box-shadow: 0 0 1rem #333;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 180rem;
	margin: 0 auto;
	padding: 2rem;
}

.filterBtn {
	background-color: var(--white);
	color: var(--dark);
	border: none;
	border-radius: 1rem;
	padding: 1.2rem;
	cursor: pointer;
	transition: all 0.25s;
	transform: translateY(0);

	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.filterBtn:hover {
	background-color: var(--highlight);
}

.filterBtn p {
	font-size: 1.4rem;
}

.filterIcon {
	width: 1.6rem;
}
