.navbar {
	background-color: var(--dark);
	color: var(--highlight);
	box-shadow: 0 0 1rem #333;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: var(--maxWidth);
	margin: 0 auto;
	padding: 2rem;
}
