.navbar {
	background-color: var(--dark);
	color: var(--highlight);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 180rem;
	margin: 0 auto;
	padding: 2rem;
}

.headingContainer {
	transform: rotate(-25deg);
	padding-left: 0.4rem;
}

.heading {
	font-size: 2rem;
	font-weight: 900;
	line-height: 0.8;
}

.heading1 {
	transform: skew(-25deg);
}

.heading2 {
	transform: skew(25deg);
}

.heading3 {
	transform: skew(-25deg);
}
