:root {
	--dark: #293241;
	--normal: #3d5a80;
	--light: #98c1d9;
	/* --white: #e0fbfc; */
	--white: #fff;
	--highlight: #ee6c4d;
	--highlight-2: rgb(234, 72, 31);

	--gapGrid: 2rem;
	--maxWidth: 185rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

p,
a {
	font-size: 1.6rem;
}
